jasons_coming.materials/Release/*
jasons_coming.materials/*.zip
jasons_coming.inform/Build/*
jasons_coming.inform/Index/*
jasons_coming.inform/manifest.plist*
jasons_coming.inform/Metadata.iFiction
jasons_coming.inform/Release.blurb
jasons_coming.inform/Settings.plist